*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    text-transform: uppercase;
    border-bottom: 5px solid red;
    width: 30%;
    padding: 5px;
    margin: 0 0 25px 20px;
    transition: all 2s ease-in ;
    will-change: contents;
}
nav:hover {
    color: red;
    border-color: black;  
    transform: translateX(142%);
    width: 25%;
    

    
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
div
    { 
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap; 
    }


img {
    height: 550px;
    width: 400px;
    filter: grayscale(100%);
    transition: all 2s;
    margin-bottom: 18px;
}
img:hover {
    transform: translateY(-5px);
    filter: grayscale(0);
}

